* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(./images/bg-intro-desktop.png);
    background-size: cover;
    background-color: rgba(243, 27, 27, 0.54);
    display: grid;
    grid-template-columns: 50% 50%;
    height: calc(100vh);
    align-items: center;

    

    
}


.title-initial{
    width: 400px;
    height: 200px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    grid-column: 1/2;
    grid-row: 2/2;
    padding: 3rem;
    margin-left: 3rem;
    margin-bottom: 2rem;
  
}



.title-initial h2 {
    font-size: 25px ;
    font-family: Poppins;
    font-weight: 700;
    color: #fff;
    display: flex;
    
}

.title-initial p {
    font-size: 9px;
    font-family: Poppins;
    color: #fff;
    margin-top: 10px;
}



.button-container {
    width: 300px;
    height: 50px;
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    margin-bottom: -7rem;


}

#button-try {
    width: 300px;
    height: 30px;
    font-family: Poppins;
    font-weight: 400;
    font-size: 9px;
    color: #fff;
    border-radius: 5px;
    border-style: initial;
    background-color: hsla(246, 56%, 54%, 0.892);


}



.card-container {
    width: 300px;
    height: 325px;
    border-radius: 5px;
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;  
    background-color: #fff;
    align-items: center;

}


#first-name,
#last-name,
#email-register,
#password-register {
    width: 250px;
    height: 30px;
    font-family: Poppins;
    font-weight: 400;
    font-size: 9px;
    border: 1px solid red;
    border-radius: 3px;

}



#button-claim {
    width: 250px;
    height: 30px;
    font-family: Poppins;
    font-weight: 400;
    font-size: 9px;
    color: #fff;
    border-radius: 3px;
    border-style: initial;
    background-color: hsla(154, 59%, 51%);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -45px;



}


